body {
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid: 'header' auto
          'nav' auto
          'main' 1fr
          'footer' auto
        / 1fr;
    background-color: #264653;
    color:#f4a261 ;
  }

  @media (min-width: 40em) {
    body {
      grid: 'header header' auto
            'nav main' 1fr
            'footer footer' auto
          / 12em 1fr;
    }
  }

  header { grid-area: header;
    /* background-color: salmon; */
    border-style: solid;
    border-color: #e76f51;
    padding-left: 10px;

}
  nav { grid-area: nav;
    border-style: solid;
   border-color: #2a9d8f;
   padding-left: 10px;
}
  main { grid-area: main;
    border-style: solid;
    border-color: #e9c46a;
    padding-left: 10px;
}




  #left-name{
    position:absolute;
    bottom: 800px;
    left: 300px;

  }
  #center-name {
    position:absolute;
    bottom: 800px;
    left: 650px;
  }
  #right-name {
    position:absolute;
    bottom: 800px;
    left: 980px;
  }
  footer {
    border-style: solid;
    border-color: sandybrown;
    grid-area: footer;
    padding: 1em;
  }

  img {
    float: left;
    width:  300px;
    height: 250px;
    object-fit: cover;
    padding-left: 20px;

}
